# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
. List popular languaages that data scientist use
. list commonly used libraries used by data scientists
. List a well known data science tools
. learnt how to add comments

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R 
4. SQL ,etc

Some of the commonly used libraries used by Data Scientists include:
1. TensoFlow
2. NumPy
3. Pandas 
4. Matplotlib
5. Keras

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ipsita Mohapatra